# Gradle
.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle/wrapper/gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# Kotlin
.kotlin/

# IntelliJ
.idea/
*.iml
*.ipr
*.iws
out/

# Mac
.DS_Store

# Build-specific files
*.class
*.jar
*.war
*.ear
